<section id="approach-cta">
    <div class="container">
        <div class="approach-grid">
            <div>
                <h1>predicate, n:</h1>
           </div>
              <div>
                <h2>In a SQL query, an
expression that filters
and refines raw data
into the specific,
desired result.</h2>
           </div>
        </div>
    </div>
</section>