---
import { Image } from "astro:assets";
import predicateLogo from "../assets/logo_white.svg";
---

<header class="main-header">
    <div class="container">
        <nav class="main-nav">
            <a href="/" class="logo">
                <Image src={predicateLogo} width={350} alt="Predicate Higher Ed Logo" />
            </a>
            <div class="nav-right">
                <ul class="nav-links">
                    <li><a href="/#services">Slate Services</a></li>

                    <li><a href="/about">Are We a Fit?</a></li>
                </ul>
                <div class="nav-cta">
                    <a href="#contact">Contact</a>
                </div>
            </div>
        </nav>
    </div>
</header>
