---
import mobile_branding_example from "../assets/mobile_branding_example.png";
---

<section id="insights">
    <div class="container">
        <h2 class="centered-heading fade-in">INSIGHTS & RESOURCES</h2>
        <div class="insights-grid">
            <article
                class="insight-card fade-in"
                style="transition-delay: 0.2s;"
            >
                <div
                    class="card-visual"
                    style={`background-image: url('${mobile_branding_example.src}');`}
                >
                </div>
                <div class="card-content">
                    <span class="card-tag">Article</span>
                    <h3>
                        <a href="/articles/mobile-branding">
                            Does Your Slate Mobile Branding Display Consistently
                            on Every Device?
                        </a>
                    </h3>
                    <p class="read-more">Read More &rarr;</p>
                </div>
            </article>
        </div>
    </div>
</section>
