<section id="testimonial" class="full-bleed-background">
    <div class="carousel-slide">
        <blockquote class="testimonial-blockquote">
            <p>"Starting from scratch on a portal can feel daunting, but when I asked Tristan to help me build a custom ticketing portal for our institution, he jumped on the task. Tristan made it a collaborative process with the end result coming out to be exactly what I hoped it would be. Without hesitation, I would recommend Tristan for any custom project."</p>
            <footer>Hannah Spadafora, CRM Systems Analyst, University of Montana</footer>
        </blockquote>
    </div>
</section>