<section id="testimonial" class="full-bleed-background">
    <div class="carousel-slide">
        <blockquote class="testimonial-blockquote">
            <p>
                "Tristan's approach to Slate training is one of patience,
                expertise, and deep understanding of both the client's needs and
                the capabilities of Slate. He will take the time to explain the
                whys, whats, and hows of the concepts as well as make space for
                hands-on experimentation and questions. As someone with five
                years of Slate experience, I consistently discovered new
                insights in Tristan's sessions, particularly around complex
                topics like Configurable Joins. His trainings provided me with
                more context of the possibilities CJs afford and how to approach
                incorporating it more into our ongoing reporting and data
                management."
            </p>
            <footer>
                Laura Felch, Director of Graduate Admissions, Graduate School of
                Biomedical Sciences, Tufts University
            </footer>
        </blockquote>
    </div>
</section>
